button {
  background-color: #999;
  border: none;
  border-radius: 12px;
  color: white;
  padding: 10px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin: 10px;
}
